# Conexión a base de datos Turso / LibSQL (Producción Vercel)
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Secreto criptográfico para firma de tokens de sesión (JWT/HMAC)
AUTH_SECRET=

# Opcional: Contraseña inicial para el usuario Osmar Bonaldi al inicializar base de datos
INITIAL_USER_PASSWORD=
