# Dependencias
node_modules
.pnpm-store

# Variables de entorno secretas
.env
.env.*
!.env.example

# Compilaciones e intermedios
dist
build
dist-ssr
.vite
.next
coverage

# Base de datos local
*.db
*.db-journal
*.db-shm
*.db-wal
local.db

# Logs y Caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.oxfmt-cache
.DS_Store
Thumbs.db
